<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="shortcut icon" href="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" type="image/x-icon">
</head>

<body>
    {{!-- {{>navbar}} --}}
    <div class="container">
        <div class="sub_container">
            <div class="info_container">
                <div class="details">
                    <div class="heading">
                        <h1> Welcome</h1>
                    </div>     
                    <div class="sub_heading">
                        <h3 class="text_styling">This page is created by <span class="text_styling" style="font-style: italic; font-weight: bold;">Riya Kumari.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>