<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Home page</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" href="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    {{>navbar}}

    <div class="container">
        <div class="heading"> E-Commerce</div>
        
        <div class="subheadings" style="color: white; margin-left: 20px; margin-top: 20px; font-style: serif">
            <h2> Features</h2>
        </div>
        <hr style="color: white; margin-left: 20px; margin-right: 20px">
        {{!-- <section id="feature" class="section-p1"> --}}
            <div class="feature">
                <div class="section-p1">
                    <div class="fe-box">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1R-WprKwfHUkeGGy5LIx_Ohegtrvs3cU7OjSbVNg&s" width="150px" height="120px">
                        <h6 style="margin-top: 10px;">Free Shipping</h6>
                    </div>
                    <div class="fe-box">
                        <img src="https://miro.medium.com/v2/resize:fit:1018/1*iAu65xDmvpVdBJgps6EDEw.png" width="150px" height="120px" >
                        <h6 style="margin-top: 10px;">Online Order</h6>
                    </div>
                    <div class="fe-box">
                        <img src="https://www.thebalancemoney.com/thmb/l0KQr3CBNz85XPg3YXxRF2UIaiw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cropped-image-of-hand-putting-coins-in-jars-with-plants-755740897-5ab88ee1875db9003759d390.jpg" width="150px" height="120px">
                        <h6 style="margin-top: 10px;">Save Money</h6>
                    </div>
                    <div class="fe-box">
                        <img src="https://www.thebalancemoney.com/thmb/l0KQr3CBNz85XPg3YXxRF2UIaiw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cropped-image-of-hand-putting-coins-in-jars-with-plants-755740897-5ab88ee1875db9003759d390.jpg" width="150px" height="120px">
                        <h6 style="margin-top: 10px;">Promotions</h6>
                    </div>
                    <div class="fe-box">
                        <img src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1711/faysalfarhan171159039/89927243-24-7-support-customer-care-team-icon-isolated-on-white-round-button-abstract-illustration.jpg" width="150px" height="120px">
                        <h6 style="margin-top: 10px;">24x7 Support</h6>
                    </div>
                </div>
            </div>
            <div class="product1">
                <div class="subheadings" style="color: white; margin-left: 20px; margin-top: 20px; font-style: serif">
                    <h2>Our Products</h2>
                </div>
                <hr style="color: white; margin-left: 20px; margin-right: 20px">
                <div class="section-p1">
                    <div class="pro">
                        <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                    <div class="pro">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBTbwP0EWffPbB9WUsaK9U5X3APkgBHQV95xNxIUT5WReSplz33kUHZyKxZOJj1t58gwA&usqp=CAU" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                    <div class="pro">
                        <img src="https://rukminim2.flixcart.com/image/550/650/xif0q/kurta/7/w/r/s-ss-90-femvy-original-imags5gw8vp3rzrf.jpeg?q=90&crop=false" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                    <div class="pro">
                        <img src="https://t3.ftcdn.net/jpg/03/15/75/82/360_F_315758281_U5p4Kh4DzCUv1d1hg5hAeNONXrb8BYOV.jpg" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                    <div class="pro">
                        <img src="https://assets.shopkund.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/a/c/acu6402-1-embroidered-diwali-girls-dress-in-rama-faux-georgette-gl0070_2_.jpg" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                    <div class="pro">
                        <img src="https://assets.vogue.com/photos/5f341f6f4721c86585cbb800/master/pass/fullsizeoutput_6bcd_1_1080x.jpg" alt="" height="120px" width="150px">
                        <div class="des">
                            <span>ClothsVilla</span>
                            <h5>Floral print dress</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs. 632</h4>
                        </div>
                        <a href="#"><i class= "fa-solid fa-cart-shopping cart"></i></a>
                    </div>
                </div>
            </div>
            {{!-- </div> --}}

            {{!-- <div class="fe-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1R-WprKwfHUkeGGy5LIx_Ohegtrvs3cU7OjSbVNg&s" width="150px" height="120px">
                <h6 style="margin-top: 10px;">Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="https://miro.medium.com/v2/resize:fit:1018/1*iAu65xDmvpVdBJgps6EDEw.png" width="150px" height="120px" >
                <h6 style="margin-top: 10px;">Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="https://www.thebalancemoney.com/thmb/l0KQr3CBNz85XPg3YXxRF2UIaiw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cropped-image-of-hand-putting-coins-in-jars-with-plants-755740897-5ab88ee1875db9003759d390.jpg" width="150px" height="120px">
                <h6 style="margin-top: 10px;">Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="https://www.thebalancemoney.com/thmb/l0KQr3CBNz85XPg3YXxRF2UIaiw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cropped-image-of-hand-putting-coins-in-jars-with-plants-755740897-5ab88ee1875db9003759d390.jpg" width="150px" height="120px">
                <h6 style="margin-top: 10px;">Promotions</h6>
            </div>
            <div class="fe-box">
                <img src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1711/faysalfarhan171159039/89927243-24-7-support-customer-care-team-icon-isolated-on-white-round-button-abstract-illustration.jpg" width="150px" height="120px">
                <h6 style="margin-top: 10px;">24x7 Support</h6>
            </div>
        </section>  --}}

        
        {{!-- <section id="product1" class="section-p1">
            <p>Summer Collection New Mordan Design</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro">
                    <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" alt="" height="120px" width="150px">
                    <div class="des">
                        <span>ClothsVilla</span>
                        <h5>Floral print dress</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 632</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>
            </div>
        </section>        --}}
    </div>


    {{!-- <div class="container">
        <div class="sub_container">
            <div class="info_container">
                <div class="details">
                    <div class="heading">
                        <h1> Welcome</h1>
                    </div>     
                    <div class="sub_heading">
                        <h3 class="text_styling">You are currently logged in to our <span class="text_styling" style="font-style: italic; font-weight: bold;">Home Page.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>  --}}

</body>
</html>
