<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css"> 
    <link rel="shortcut icon" href="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" type="image/x-icon">
    <title>Sign Up</title>
</head>

<body>
    <div class="container background">
        <div class="sub_container">
            <div class="firstHalf">
                <div class="info">
                    <h2 style="font-style: italic; color:white;"> Sign Up</h2>
                    <li></li>
                    <h3 style="color:white; font-weight: 3;">Please enter your details to sign up and be part of our great community.</h3>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <h3 style="color:rgb(255, 255, 255);text-align: center; font-weight: 5;">Already have an account?</h3>
                    <li></li>
                    <button style="background-image:url('https://images.pexels.com/photos/1808329/pexels-photo-1808329.jpeg?auto=compress&cs=tinysrgb&w=600'); font-size: 20px;
                    "><a href="/" style="text-decoration: none; color:white">Log In</a></button>
                </div>
            </div>
            
            <div class="secondHalf">
                
                <div class="signup_container">
                    <div class="logo">
                        <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" alt="logo" height="50px">
                    </div>

                    <form action="/" method="POST">
                        <div class="details">
                            <div class="person_info">       
                                <div class="details_firsthalf">
                                    <div class="form-group1">
                                        <input type="text" class="form-control" placeholder="First name *" value="" name="firstname" >
                                    </div>

                                    <div class="form-group1">
                                        <input type="email" class="form-control" placeholder="Your Email *" value="" name="email" >
                                    </div>

                                    <div class="form-group1">
                                        <input type="text" class="form-control" placeholder="Your username *" value="" name="username" >
                                    </div>

                                    <div class="form-group1">
                                        <input type="password" class="form-control" placeholder="Password *" value="" name="password" >
                                    </div>
                                </div>

                                <div class="details_secondhalf">
                                    <div class="form-group2">
                                        <input type="text" class="form-control" placeholder="Last name *" value="" name="lastname">
                                        
                                    </div>

                                    <div class="form-group2" style="margin-top: 28px;">
                                        
                                        <div>                             
                                            <input type="radio" name="gender" value="male"  checked>
                                            <label> Male </label>                          
                                            <input type="radio" name="gender" value="female" checked>
                                            <label> Female</label>                                       
                                        </div>
                                    </div>

                                    <div class="form-group2" style="margin-top: 30px">
                                        <input type="text" class="form-control" placeholder="Enter Your Age *" value="" name="age" >
                                    </div>

                                    <div class="form-group2">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" value="" name="confirm_password" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account_creation">
                            <input type="submit" value="Create Account" class="btnRegister"style="; display:flex; justify-content: center;text-decoration: none; ">
                        </div>        
                    </div>
                </form>
            </div> 
        </div>                  
    </div>
</body>
</html>