<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="css/sproduct.css">
    <link rel="shortcut icon" href="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    {{>navbar}}

    <div class="container">
        <div class="heading"> Product Detail</div>
        <hr style="margin-bottom: 20px;">
        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" width="100%" id="MainImg" alt="">

                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" width="100%" class="small-img" alt="" height="150px">
                    </div>
                    <div class="small-img-col">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBTbwP0EWffPbB9WUsaK9U5X3APkgBHQV95xNxIUT5WReSplz33kUHZyKxZOJj1t58gwA&usqp=CAU" width="100%" class="small-img" alt="" height="150px">
                    </div>
                    <div class="small-img-col">
                        <img src="https://rukminim2.flixcart.com/image/550/650/xif0q/kurta/7/w/r/s-ss-90-femvy-original-imags5gw8vp3rzrf.jpeg?q=90&crop=false" width="100%" class="small-img" alt="" height="150px">
                    </div>
                    <div class="small-img-col">
                        <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg" width="100%" class="small-img" alt="" height="150px">
                    </div>
                </div>
            </div>

            <div class="single-pro-details">
                <h2>Home / A-line Dress</h2>
                <h3>Women's Fashion Dress</3>
                <h2>Rs.353</h2>
                <select style="width: 20%; border-radius:4px; font-size:medium; margin-bottom: 20px">
                    <option>Select Size</option>
                    <option>XL</option>
                    <option>XLL</option>
                    <option>Small</option>
                    <option>Large</option>
                </select>
                <input type="number" value="1">
                <button class="normal">Add to cart</button>
                <h3 style="margin: 20px 0px 0px 0px;">Product Details</h3>
                <span>It may feature intricate embroidery, lacework, beading, or other embellishments that add to its beauty and visual impact. The term "breathtaking" is often used to describe a dress that is elegant, sophisticated, and visually captivating, with a stunning silhouette that flatters the wearer's body.</span>
            </div>
        </section>
    </div>

    <script>
        var MainImg = document.getElementById("MainImg");
        var smalling = document.getElementsByClassName("small-img");

        smalling[0].onclick = function(){
            MainImg.src = smalling[0].src;
        }
        smalling[1].onclick = function(){
            MainImg.src = smalling[1].src;
        }
        smalling[2].onclick = function(){
            MainImg.src = smalling[2].src;
        }
        smalling[3].onclick = function(){
            MainImg.src = smalling[3].src;
        }
    </script>

    <script src="addtocart.js"></script>
</body>
</html>










{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Home page</title>
    <link rel="stylesheet" href="css/sproduct.css">
    <link rel="shortcut icon" href="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-shortcuts-app-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    {{>navbar}}
    <div class="container">
        <header>
            <h1>Shopping</h1>
            <div class="shopping">
                <i class="fa-solid fa-bag-shopping" style="size: 2px;"></i>
                <span class="quantity">0</span>
            </div>
        </header>

        <div class="list"></div>
    </div>

    <div class="card">
        <h1>Card</h1>
        <ul class="listCard">

        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <script src="addtocart.js"></script>
</body>
</html> --}}